body {
    margin: 0;
    background-color: #1D1616;
}

nav {
    background-color: #8E1616;
    display: flex;     
    color: #EEEEEE;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-front {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-uga-logo {
    width: 15%;
    object-fit: cover;
    padding-right: 2%;
}

.logo_name {
    font-size: 200%;
    font-weight: bold;
}

.nav-end {
  display: flex;
  justify-content: flex-end;
}

.navbar-idan-logo {
  width: 15%;
  object-fit: cover;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

  
  .nav-links li a {
    padding-left: 10%;
    padding-right: 10%;
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  .nav-links li a:hover {
    color: #f4d03f;
  }

.writting-page {
  color: white;
  text-align: center;
  font-size: 130%;
}

section div {
  background-color: red;
}
